.searchBar {
    display: flex;
    flex: 1;
    flex-direction: 'row';
    height: 30px;
    margin: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 10px;
}

.searchBar-input {
    flex: 10;
    border-radius: 10px 10px 10px 10px;
    border: 1px gray solid;
    color: #2C3E50;
    padding: 10px;
    font-size: small;
    font-family: 'Dosis', sans-serif;
}

.searchBar-input:focus { 
    outline: none !important;
    border-color: rgb(221, 121, 22);
    box-shadow: 0 0 1px rgb(221, 121, 22);
}