
.landing {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.landing .center {
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.landing div {
    margin-bottom: 2%;
}

.landing .title {
    font-size: 6em;
    color: white;
}
