
.background-image {
    background-image: url("../../assets/interface/background.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
}

.landing .center {
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.landing div {
    margin-bottom: 2%;
}

.landing .title {
    font-size: 7em;
    color: white;
    font-family: "Indie Flower", sans-serif;
}
