.App {
  text-align: center;
  align-self: stretch;
}

.background-image {
  background-image: url("./assets/interface/background.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.background-navbar-image {
  background-image: url("./assets/interface/backgroundNavbar.jpg");
  background-size: cover;
  display: flex;
  flex-direction: row;
}

.screen {
  height: 100vh;
  background-color: #154360;
}

.page {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #212F3D;
}

.page-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-radius: 10px;
  margin-left: 15%;
  margin-right: 15%;
  background-color: white;
  box-shadow: 3px 3px 20px #48C9B0;
}

.page-shadow {
  background-color: rgba(0,0,0,0.7);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.searchBar-ingredients {
  background-color: #212F3D;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 1%;
}

.white {
  color: white;
}

.nav {
  flex: 1;
}

nav .title {
  font-size: 2em;
  color: white;
}

.subTitle {
  font-size: 2em;
  color: gainsboro;
}

.row {
  display: flex;
  flex-direction: 'row';
  align-self: stretch;
}

.row-space {
  display: flex;
  flex-direction: 'row';
  align-self: stretch;
  justify-content: space-between;
}

.flex-1 {
  align-self: stretch;
  flex: 1;
}

h1 {
  font-size: 3em;
}

.list {
}

.center {
  align-content: center;
  align-items: center;
  justify-content: center;
}

.elem-3col {
  margin-left: 2%;
  margin-right: 1%;
  display: inline-block;
  width: 30%;
}

html, 
body,
#root,
.page {
    height: 100%;
}
