.App {
  text-align: center;
  align-self: stretch;
}

.background-navbar-image {
  background-image: url("./assets/interface/backgroundNavbar.jpg");
  background-size: cover;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}

.screen-size {
  height: 100vh;
  background-color: #008080;
  overflow: hidden;
}

.page {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #191970	;
}

.page-shadow {
  background-color: rgba(0,0,0,0.7);
  display: flex;
  flex: 1;
}

.page-content {
  display: flex;
  width: 70%;
  flex-direction: column;
  border-radius: 10px;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 26%;
  margin-right: 3%;
  background-color: white;
  box-shadow: 3px 3px 20px #48C9B0;
  min-height: 76vh;
}

.searchBar-ingredients {
  background-color: #212F3D;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 1%;
}

.white {
  color: white;
}

.grey {
  color: grey;
}

.nav {
  flex: 1;
}

nav .title {
  font-size: 2em;
  color: white;
}

.subTitle {
  font-size: 2em;
  color: gainsboro;
}

.row {
  display: flex;
  flex-direction: 'row';
  align-self: stretch;
}

.center {
  align-self: center;
  align-items: center;
  justify-content: center;
}

.row-space {
  display: flex;
  flex-direction: 'row';
  align-self: stretch;
  justify-content: space-between;
}

.flex-1 {
  flex: 1;
}

.list {
}

.elem-3col {
  margin-left: 2%;
  margin-right: 1%;
  display: inline-block;
  width: 30%;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 3em;
}

.rounded {
  border-radius: 10px;
}

html, 
body,
#root,
.page,
.max-height {
  top: 0;
  bottom: 0;
  min-height: 100vh;
}
