.App {
  text-align: center;
  align-self: stretch;
}

.background-image {
  background-image: url("./assets/interface/background.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-shadow {
  background-color: rgba(0,0,0,0.7);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav {
  flex: 1;
}

nav .title {
  font-size: 2em;
  color: white;
}

.subTitle {
  font-size: 2em;
  color: gainsboro;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
